<app-info-section title="Välkommen">
	<div brief>
		<p>
			Välkommen till vår rollspelspod!
		</p>
		<p>
			Vi är ett gäng som började spela rollspel tillsammans 2022 och tänkte att vi kan ju spela in när vi spelar
			och se om vi kan göra nåt med det?
			Kanske släppa en pod eller nåt?
		</p>
		<p>
			Så här är vi nu nästan två år senare och har börjat släppa vårt spelande som en podcast!
		</p>
		<p>
			Denna websida är tänkt som en informationsplats om denna podcast och vårt spelande.
			Lite om hur vi tänker och även lite kul extrainformation för de som är nyfikna på att lyssna.
			Om hur vi tänker, karaktärerna, spelarna, världen vi spelar i mm.
		</p>
	</div>
</app-info-section>

<app-info-section title="Om rollspel">
	<div brief>
		<p>
			En tanke när vi skapade denna är att även kunna göra de som aldrig spelat rollspel nyfikna och kanske tom
			bli inspirerade att prova själva?
		</p>
		<p>
			Så vad är rollspel?
		</p>
		<p>
			Man kan säga att det är ett antal personer berättar en historia tillsammans, det vi ofta kallar
			"samberättande".
			För att göra detta så spelar alla personerna en viss karaktär, deras rollperson, som de berättar vad den gör
			och agerar som den personen.
			En person agerar "berättare", spelledaren och är även den som bestämmer vad som händer i världen och agerar
			även som de personer som rollpersonerna träffar.
		</p>
		<p>
			Utöver detta så används ofta ett regelsystem för hur man avgör om en rollperson lyckas med saker eller inte
			och hur duktiga de är på olika saker.
			Till detta använder man oftast tärningslag och olika färdigheter, så därför kommer du höra att vi pratar om
			regler och tärningsslag ibland.
		</p>
		<p>
			Så, när du lyssnar på en rollspelspod som denna kan du se det som en kombination mellan en ljudbok,
			radioteater, spelregler och naturligtvis även socialt samspel mellan spelarna, vi gör ju detta för att ha
			kul!
		</p>
	</div>

</app-info-section>

<app-info-section title="Hur vi tänker">
	<div brief>
		<p>
			Vi spelar ju främst för att ha kul och för vår själva, så vi kommer inte göra omfattande redigering av
			inspelningarna då det är tidskrävande och vi ser även en charm i att visa hur rollspel kan vara i praktiken.
			Du kommer med andra ord att få höra en del prat och socialt samspel som inte hör till spelandet, kanske nån
			som springer iväg på toaletten eller för att göra kaffe etc.
			Med det sagt, vi försöker klippa bort långa onödiga sekvenser i den mån vi kan.
			Skulle du höra saker i podden som du anser onödiga eller rent av olämpliga, så kontakta oss så kan vi
			redigera det, vi ät tacksamma för all feedback!
		</p>
	</div>

</app-info-section>

<app-info-section title="Spelsystemet">
	<div brief>
		<p>
			Vi spelar i det klassiska Drakar och Demoner från 90-talet, mer specifikt med de regler som kallas Expert
			men även med blandningar av inslag från andra moduler och lite egna påhitt.
			Med det sagt, vi spelar inte så regeltungt utan det är mycket improvisation.
		</p>
	</div>

</app-info-section>

<app-info-section title="Äventyret">
	<div brief>
		<p>
			Det äventyr vi spelar är den klassiska Svavelvinter-sviten skriven av Erik Granström.
			Vi spelar främst original-versionen för Drakar och Demoner men vi har även vävt in element från Erik
			Granströms böcker och från Svavelvinter-rollspelet.
		</p>
	</div>
</app-info-section>
<app-info-section title="Tack till">
	<div brief>
		<ul>

			<li>Erik Granström - för det fantastiska äventyret</li>

			<li>Peter Edsbäcker - för musik till podden</li>

			<li>Steven Stahlberg - för hans fina omslag till Svavelvinter som vi fick använda</li>

			<li>Den fria konfluxen - http://strimlad.se/fri_konflux/00.titelblad.html där ursprungsäventyren med kartor
				finns tillgängligt</li>
		</ul>
	</div>
</app-info-section>