<app-info-section title="Välkommen">
	<div brief>
		Välkommen till vår rollspelspod!
	</div>
	<div more>
		
	</div>
</app-info-section>

<app-info-section title="Om rollspel">
	<div brief>
		Om du inte spelat rollspel eller vet vad det är så kan du läsa mer om det här.
	</div>
	<div more>
		
	</div>
	
</app-info-section>

<app-info-section title="Vilka är vi?">
	<div brief>
		Vi är ett gäng rollspelare som träffats online som blev sugna på att tillsammans spela igenom den klassiska Svavelvinter-siten (mer om den nedan).
	</div>
	<div more>
		
	</div>
	
</app-info-section>

<app-info-section title="Äventyret">
	<div brief>
		Äventyret vi spelar är det klassiska Svavelvinter, skrivet av Erik Granström.
	</div>
	<div more>
		
	</div>
	
</app-info-section>
