<style>

</style>

<!-- Toolbar -->
<mat-toolbar>
	<button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
		<mat-icon>menu</mat-icon>
	</button>
	<span>Vi fumlar</span>
	<span class="example-spacer"></span>
	<button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
		<mat-icon>favorite</mat-icon>
	</button>
	<button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
		<mat-icon>share</mat-icon>
	</button>
</mat-toolbar>

<div class="content" role="main">



	<mat-tab-group mat-stretch-tabs="false" mat-align-tabs="start">
		<mat-tab label="Info">
			<app-pod-info></app-pod-info>
		</mat-tab>
		<mat-tab label="Lyssna">
			<app-episode-list>
			</app-episode-list>
		</mat-tab>
		<mat-tab label="Rollpersonerna">
			<app-character-list></app-character-list>
		</mat-tab>
		<mat-tab label="Världen">
			<app-map name="Marjura" imageUrl="http://strimlad.se/fri_konflux/svavelvinter/15.marjura.jpg"></app-map>
		</mat-tab>
		<mat-tab label="Äventyret">Världen</mat-tab>
	</mat-tab-group>



</div>