.mat-expansion-panel-header {
  height: 80px;
}
.character-card {
}
.character-image {
  max-width: 200px;
}
.character-token {
  max-height: 50px;
}
.token-border {
  padding: 20px;
  
}
.character-header-image {
}