	<mat-expansion-panel hideToggle *ngIf="status == 'active'">
		<mat-expansion-panel-header>
			<mat-panel-title>
				<div class="token-border">
					<img mat-card-image src="assets/images/{{token}}" class="character-token">

				</div>
				{{name}}
			</mat-panel-title>
			<mat-panel-description>
				{{subtitle}}
			</mat-panel-description>
		</mat-expansion-panel-header>
		<mat-card class="character-card">
			<mat-card-header>
				<mat-card-title-group>
					<mat-card-title>{{name}}</mat-card-title>
					<mat-card-subtitle>{{age}} år, {{subtitle}} </mat-card-subtitle>
					<img  src="assets/images/{{image}}" class="character-image">
				</mat-card-title-group>
			</mat-card-header>
			<mat-card-content>
				<ng-content></ng-content>
			</mat-card-content>
		</mat-card>
	</mat-expansion-panel>
