<app-character name="Esbjörn Emrilsson" status="active" image="esbjorn.webp" token="esbjorn_token.png" subtitle="Stor, Bullrig, Glad bonde" age="55"
	race="Människa" yrke="Bonde">
	<p>
		Esbjörn är en stor man i en svår värld. Han är för snäll för sitt eget bästa. Han ser ut som om han passade
		in i den hårda världen av våld och manlighet men på insidan så lider han. Han skulle hellre påta i
		trädgården, ta hand om sina sju barn och fosterbarn eller berätta historier för barnen som besöker
		värdshuset. Han kan slåss och då han ser orättvisor kan han till och med bli arg men det är inget som ger
		honom glädje.

		Han började tidigt som dörrvakt på grund av sin storlek men stoppade bråken oftare med sin mun och lugnande
		röst. Han är rädd att för att slåss

		Han kan ses som godtrogen då han alltid hjälper andra detta har lätt till att han har vänner vart han än går
		så stannar han och socialisera. Hans fru Sigrid har givit honom 8 barn och mycket att leva för i flera år.
	</p>

</app-character>
<app-character name="Bryge Skamsrop" status="active" image="bryge.webp" token="bryge_token.png" subtitle="Magiker, Speleman, Fredlös" age="59" race="Människa"
	yrke="Magiker">
	<p>
		En skinntorr gubbe med väderbitet utseende. Trots hans välskräddade kläder och ansade skägg och ger han ett
		slitet intryck märkt av ett hårt liv.

		Han bär ett kärleksfullt nött instrumentfodral i en rem över axeln. och ett utsirat kortsvärd i bältet,
		jämte en dolk med skulpterat elfenbensskaft.


		Bryge är uppenbarligen av utbildad och uppfostrad bakgrund, han använder korrekt bordsskick och har öga för
		kvalitet och stil, även om han själv saknar det mesta av överklassens kännetecken.
	</p>

</app-character>
<app-character name="Keighan 'Kei' Korpvinge" status="active" image="keighan.png" token="keighan_token.png" subtitle="Tjuv/Utkastare" age="26" race="Människa"
	yrke="Tjuv">
	<p>
		Svart hår, axel längd. Ett Blått öga och ett grönt. Ingen skäggväxt.
		Så länge Kei kan minnas har det bara varit han och hans syster, Katt.
		Efter det att deras föräldrar dog i Blodshostan som härjade så har Kei och Katt vuxit upp på Tricilves hårda och
		mörka bakgator. Där lärde dom sig att ljuga, stjäla och springa. Och att världen är kall och orättvis.
		Tidigt hamnade dom som tiggare och ficktjuvar i ett av gängen. Skarpögde Kei fick namnet Korpen och smidiga och
		tysta Katt kallades Katten.
		Så levde dom till dom var någonstans i 10 års åldern. Efter ett relativt lyckat inbrott så hamnade Katt och Kei
		i bakhåll av några ur ett rivaliserande gäng. Kei gjorde sitt bästa för att försvara sin syster men när allt såg
		ut att vara förlorat kommer en jätte till man in rusande i gränden och får dom äldre pojkarna på flykt.
		Jätten Esbjörn tar med sig Kei och Katt till sin gård och deras liv tar en ny vändning.
		Ungefär vid 17 års ålder ger sig Kei iväg för att ta värvning i ett legokompani för att lära sig slåss och tjäna
		ihop pengar nog för att kunna betala tillbaka Esbjörn för hans vänlighet.
		Det visar sig att Kei inte är av militärt virke och lämnar kompaniet efter bara några månader. I skam för sitt
		misslyckande återvänder han till Tricilve i hopp om att hitta något för honom där. Efter några veckor i dåliga
		tavernor och skitiga barer är han helt tom på silver. Han börjar ställa upp i betalda bar fighter och det visar
		sig att han har fallenhet för att slåss med sina bara händer. Och han trivs med det.
		Månaderna går och blir till år. Han reser Paratorna runt och slåss.
		Då och då återvänder han med lite silver till Esbjörn och berättar om dom olika äventyr han är med om som
		legosoldat. Han ljuger då han fortfarande skäms för sitt misslyckande. Och inte vill såra den gamle mannen som
		han ser som en fadersgestalt.
		Under dom år som Kei varit ute har Katt mer och mer dragit sig tillbaka till Tricilve och sitt gamla liv. Kei
		får veta att hans syster misslyckats med sitt senaste inbrott och blivit skickad till Marjura och svavelträsken
		som straffarbetare. Nu måste Kei ta sig till Marjura och hämta hem henne.
	</p>

</app-character>
<app-character name="Varkmin Celsado" status="active" image="varkmin.png" token="varkmin_token.png" subtitle="Kapten" age="37" race="Människa" yrke="Sjökapten">
	<p>
		Varkmin Celsado. Människa 36 år, För nuvarande Skattletare och Äventyrare.

		Yngre Medelålders man med ett vackert men väderbitet ansikte där ett par ärr skvallrar om ett hårt leverne.
		Varkmin är lång och rakryggad, rör sig med elegans och smidighet. Mörka vaksamma ögon, samt ett mörkt hårsvall
		som räcker en bra bit ner över ryggen.

		Varkmin Celsado föddes i ett nobelt och strikt hem i Feliciens huvudstad Tyros.
		Har en felicisk far och montagoransk mor och en yngre bror till odåga. Hans två år yngre bror Martes var
		familjens ögonsten vilket gjorde att Varkmin inte fick samma uppmärksamhet och bedrev sin tid för sig själv utan
		uppsyn från tidig ålder. Tidiga tonåren kom och Varkmin fick göra sin första långa seglats som alla feliciska
		män. Resan gick till Tricilve med ett handelsskepp. Ett par år senare värvades han till felisiska marinstyrkan.
		Här jobbade han sig uppåt under Storamiral DiRakhes ledning. Varkmin steg i beaktning och kunnande gå vidare
		till underofficer samt även mot sekelskiftet även ta titeln av kapten under flottan. Dock fanns kallet efter att
		vara sin egen, drivet efter skatter och få sköta sig själv med sin egen besättning blev starkare.
	</p>

</app-character>

<app-character name="Vasker Brankensnår" status="active" image="vasker.png" token="vasker_token.png" subtitle="En frälst man" age="34" race="Människa"
	yrke="Sjöman/Lönnmördare">
	<p>
		"Med ett sådant namn så kommer du åstadkomma stordåd pojk"
		Är en mening som Vasker hört genom hela sitt liv, klart är väl det är man döp efter Caddos första kung så är
		man.
		Men stordåden lät sig vänta för Vasker, från en barndom där medelmåtta gällande både det fysiska som det
		psykiska till en ungdom där ett par år i folkuppbådet visade att även om Vasker besatt förnämliga kunskaper i
		våldets konst så var dessa inte passande i organiserad form.
		Vägen och livet ledde Vasker vidare till att bli indrivare och ibland en vass dolk för ett av dom mindre
		handelshusen på Caddo, detta var något Vasker verkligen visade stora kunskaper i men efter en tragisk händelse
		där en grupp oskyldiga fick plikta med sina liv så rasade hela Vaskers värld, där år av dryck och försök att
		glömma följde.
		Men som ordspråket säger, för att kunna se Odos ljus så måste det vara som mörkast. Det var det också då
		predikanten Gannos fann Vasker och ledde in honom på rätt väg. Så nu ett par år av fromhet senare är även Vasker
		redo att sprida ordet. Det är väl nu äntligen som stordåden skall komma?
	</p>

</app-character>

<app-character name="Blaxtur af Silverfisk" status="active" image="blaxtur.png" token="blaxtur_token2.png" subtitle="Rik animist och mentalist" age="25"
	race="Människa" yrke="Magiker">
	<p>
		Blaxtur är en 25åring magiker. som älskar att resa i världen och se vad som finns bakom nästa hörn i livet.

		Han är uppväxt i en väldigt rik familj med stora marker och tillgångar. då ha som liten visade sig ha "förmågor"
		hans familj inte kunde kontrollera. skickades han till Ordern Kafrilerna . Där han fick lära sig att hantera sin
		magiska förmåga.

		Då han levt sitt liv i en rik familj ses han lite som en stropp. som gärna äter gott och dricker gärna det
		finaste vinet på värdshuset.

		Men ute på äventyr är han en flitig och nyfiken person som mer än gärna skitar ner sig. Eller slänger sig i
		gyttjan för att hitta det han söker.

		Något han inte gillar är när det är folk som far illa eller folk i nöd, då tar han gärna tag i problemet innan
		han har en bra lösning eller vet att han klarar ut detta.
	</p>

</app-character>

<app-character name="Didra Damagi" status="pending" image="Didra_prastinna.jpg" token="didra_token.png" subtitle="Furstessa, danserska, fresterska och månprästinna" age="26"
	race="Människa" yrke="Månprästinna">
	<p>
		Didra är en väldigt vacker och attraktiv ung kvinna i tjugoårs åldern. Hon har en nästan magnetisk
		utstrålning och karisma. Hon är ca. 175 cm lång, smalt men atletiskt byggd. Hon har långt korpsvart hår till
		midjan som oftast är uppsatt i en tofs eller lång fläta. Hon har mandelformade stålgrå ögon med långa
		ögonfransar. Hennes blick är självsäker, pigg och nyfiken, nästan utforskande och observerande som om hon
		studerar och försöker att läsa av personer och sin omgivning. Hon luktar alltid fräscht och gott som av
		någon väldigt söt och behaglig citrusdoft (dyrbara parfymer plus minimagi). Hon rör sig smidigt med lätta
		steg, nästan kattlikt. När hon talar så är rösten oftast behagligt mild. Hennes skratt är hjärtligt, högt
		och varmt. Didra har oftast en exotisk ganska skarp sminkning som framhäver hennes fylliga läppar och skarpa
		ögon.
	</p>

</app-character>


<app-character name="Norion Brontes" status="pending" image="norion.webp" token="norion_token.png" subtitle="Föräldralös" age="26"
	race="Gråalv" yrke="Sjöman/Pirat">
	<p>
		orion Brontes är en man med uppenbart alviska drag, men med solbränd hy och stålgrå ögon.
			Han ser ut att vara en ung man i senare tonåren med rent ansikte och slät hy, vilket står i skarp kontrast
			mot hans gråa hår som utsläppt når till axlarna. Han har det dock ofta uppsatt i en stram tofs i nacken.
	</p>

</app-character>
<app-character name="Grauff" status="pending" image="grauff_cutout.png" token="grauff_token.png" subtitle="Spårare, flockens beskyddare" age="26"
	race="Vargman" yrke="Krigare/Spårare">
	<p>
		orion Brontes är en man med uppenbart alviska drag, men med solbränd hy och stålgrå ögon.
			Han ser ut att vara en ung man i senare tonåren med rent ansikte och slät hy, vilket står i skarp kontrast
			mot hans gråa hår som utsläppt når till axlarna. Han har det dock ofta uppsatt i en stram tofs i nacken.
	</p>

</app-character>
